{
	"extends": ["eslint:recommended"],
	"env": {
		"es6": true,
		"node": true,
		"amd": true,
		"mocha": true
	},
	"rules": {
		"indent": [0, "tab"],
		"linebreak-style": [2, "unix"],
		"quotes": [2, "single"],
		"camelcase": [2, {"properties": "always"}],
		"no-console": 0
	}
}
