<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-ng-app="app">
<head>
	<meta charset="utf-8"/>

	<link rel='stylesheet'
		  href='https://fonts.googleapis.com/css?family=Play'/>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css"/>

	<link rel="stylesheet"
		  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.css"/>

	<script src="https://code.jquery.com/jquery-2.1.4.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.js"></script>

	<link rel="stylesheet"
		  href="../static/css/main.css" th:href="@{css/main.css}"/>

	<script src="../static/js/app.js"
			th:src="@{js/app.js}"></script>

	<script src="../static/js/service/version.js"
			th:src="@{js/service/version.js}"></script>
	<script src="../static/js/service/foo.js"
			th:src="@{js/service/foo.js}"></script>

	<script src="../static/js/controllers/header.js"
			th:src="@{js/controller/header.js}"></script>
	<script src="../static/js/controllers/main.js"
			th:src="@{js/controller/main.js}"></script>
	<script src="../static/js/controllers/about.js"
			th:src="@{js/controller/about.js}"></script>

	<title th:text="${name}">$name</title>
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#" th:text="${name}">Application</a>
		</div>
		<div class="collapse navbar-collapse" data-ng-controller="header">
			<ul class="nav navbar-nav">
				<li data-ng-class="{ active: isActive('/')}"><a href="#/">Main</a></li>
				<li data-ng-class="{ active: isActive('/about')}"><a href="#about">About</a></li>
			</ul>
		</div>
	</div>
</nav>
<div class="container">
	<div data-ui-view=""></div>
</div>
</body>
</html>
